/** EWW.SCSS
Created by saimoom **/
*{
	all: unset;
  font-family: Renogare, Inter Nerd Font;
}
.app-button {
	font-size : 20px;
	// font-weight : bold;
	margin : 0px 15px 0px 15px;
}
.space {
	margin-left: 185px;
}

/** General **/
.bar_class {
		background-color: transparent;
    border-radius: 16px;
}
.module {
	padding: 0px 10px 0px 10px;
  // background: linear-gradient(0deg, rgb(149,216,154) 0%, rgb(158,204,234) 32%, rgb(182,219,178) 72%, rgb(254,240,224) 100%); 
	background: linear-gradient(45deg, rgb(254,240,224) 0%, rgb(244,169,158) 50%,rgb(238,214,215) 100% );
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
	border-radius: 16px;
	margin: 10px 10px 10px 10px;
}
.volbar:nth-child(1){
  font-size: 20px;
	margin: 0px 20px 0px 10px;
}
.appnames_top {
	color: rgb(84,111,175);
  font-size: 15px;
	padding: 0px 10px 0px 10px;
	margin: 10px 10px 10px 0px;
  background: rgb(238, 190, 190);
  background: linear-gradient(45deg,rgb(244, 219, 214)	 0%, rgb(223,221,238)	 43%, rgb(245,208,225) 100%); 
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
	border-radius: 16px;
}
.wlr_status {
    font-size: 16px;
		color: red;
}
.cava {
	padding: 0px 10px 0px 10px;
  background: rgb(238, 190, 190);
  background: linear-gradient(45deg, rgb(129, 200, 190)	 0%, rgb(244, 184, 228) 43%, rgb(153, 209, 219) 80%, rgb(202, 58, 230) 100%); 
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
	border-radius: 16px;
	margin: 0px 10px 0px 10px;
}

.vol-module {
	padding: 0px 10px 0px 10px;
  background: rgb(238, 190, 190);
  background: linear-gradient(45deg, rgb(129, 200, 190)	 0%, rgb(244, 184, 228) 43%, rgb(153, 209, 219) 80%, rgb(202, 58, 230) 100%); 
  background-size: 300% 300%;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
  animation: gradient 10s ease infinite;
	border-radius: 16px;
	margin: 10px 10px 10px 0px;
}

/** Widgets **/

.clock_time_sep {
    font-size: 16;
    margin: 0px 4px 1px 4px;
		color: 	rgb(49, 50, 68);
}
.clock_time_class, .clock_minute_class {
    font-size: 23;
}
.clock_date_class {
    font-size: 18;
		color: 	rgb(49, 50, 68);
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
		color: 	rgb(49, 50, 68);
}

.clock_time_class {
    // font-weight: bold;
}


.membar {
    color: 	rgb(137, 220, 235);
		background: 	rgb(69, 71, 90);
		margin: 10px 10px 0px 10px;
    // font-weight: bolder;
}
.batbar {
  color: #afbea2;
    background-color: #38384d;
  border-radius: 10px;
}
.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.volume_icon {
    font-size: 16;
    color: #fff;
  margin: 0px 10px 0px 10px;
}


.module_essid {
    font-size: 18;
    color: #fff;
  margin: 0px 10px 0px 0px;
}
.module_mem_use{
	    font-size: 18;
    color: #fff;
  margin: 0px 10px 0px 0px;
}
.module-wif {
    font-size: 22;
    color: #fff;
    border-radius: 100%;
  margin: 0px 10px 0px 5px;
}


.iconbat {
    color: #afbea2;
}
.iconbat, .iconmem {
		color: #fff;
    margin: 16px;
}
.bright_icon {
    font-size: 22;
    color: #e4c9af;
  margin: 0px 10px 0px 10px;
}

.separ {
    color: #3e424f;
    // font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
  }
.wifi_module{
  font-size: 22px;
    background: rgb(202,158,230);
    background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    border-radius: 15px;

	padding: 0px 20px 0px 20px;
	margin: 10px 10px 10px 10px;
}
.container{
	font-size: 16;
	padding: 0px 10px 0px 10px;
	border-radius: 16px;
	margin: 10px 10px 0px 10px;
}
.music_module {
	padding: 0px 10px 0px 10px;
	background-color: #24273a;
	border-radius: 16px;
	margin: 0px 10px 10px 3px;
}
.mem_module {
	padding: 0px 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
		margin: 10px 10px 10px 10px;
    background: #cba6f7;
    color: 	#fff;
    // font-weight: bolder;

	border-radius: 16px;
  }
.bat_module {
    background-color: #0f0f17;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
  }


scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.works {
	font-size: 25px;
	font-weight: normal;
	margin: 10px 0px 0px 20px;
	border-radius: 16px;
}

.0norm {
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background: #fff ;
    border-radius: 15px;
		margin: 10px 10px 15px 0px;
    // font-weight: bolder;
		padding: 5px 20px 5px 20px;
    color: 	#cba6f7 ;
		transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

/* Focused */
.0act {
		transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
		padding: 5px 20px 5px 20px;
		border-radius: 16px;
		margin: 10px 10px 15px 0px;
    background: rgb(202,158,230);
    background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;
}


.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 100px;
}

.song {
	color: #a1bdce;
	font-size : 18px;
	// font-weight : bold;
	margin : 3px 5px 0px 0px;
}

.song_btn_play {
	color: #a1bdce;
	font-size : 28px;
	margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
	color: #bfc9db;
	font-size : 24px;
	margin : 3px 0px 0px 5px;

}
// Calendar
.cal {
  background-color: #0f0f17;
  // font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #bfc9db;
}
calendar:selected {
  color: #a1bdce;
}

calendar.header {
color: #a1bdce;
font-weight: normal;
}

calendar.button {
color: #afbea2;
}

calendar.highlight {
color: #a1bdce;
font-weight: normal;
}

calendar:indeterminate {
color: #bfc9db;
}







.sys_sep {
    color: #38384d;
    font-size: 18;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: 16;
    color: #bbc5d7;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
    font-size: 21;
    // font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
    font-size: 30;
    margin: 30px;
}
.sys_win {
    background-color: #0f0f17;
}
.sys_bat {
  color: #afbea2;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
    color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
    color: #e4c9af;
}
.sys_bat_box {
	border-radius: 16px;
    margin: 15px 10px 10px 20px;
  }
.sys_mem_box {
	border-radius: 16px;
    margin: 10px 10px 15px 20px;
  }







.music_pop {
    background-color: #0f0f17;
	border-radius: 16px;
}
  .music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}

.music {
	color: #a1bdce;
	font-size : 20px;
	// font-weight : bold;
	margin : 20px 0px 0px -15px;
}

.music_artist {
	color: #bbc5d7;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
	// font-family: Iosevka Nerd Font;
}
.music_btn_prev {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: #a1bdce;
	font-size : 48px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.music_bar scale trough {
	all: unset;
	background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : -10px 10px 20px 0px;
}

.audio-box {
    background-color: #0f0f17;
	border-radius: 16px;
}
.speaker_icon {
	background-size: cover;
    background-image: url('images/speaker.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 10px 20px 5px 20px;
	border-radius: 12px;
}

.speaker_text {
	color: #a1bdce;
	font-size : 26px;
	// font-weight : bold;
	margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.speaker_bar scale trough {
	all: unset;
	background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 5px 0px;
}




.mic_icon {
	background-size: cover;
    background-image: url('images/mic.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 5px 20px 20px 20px;
	border-radius: 12px;
}

.mic_text {
	color: #a1bdce;
	font-size : 26px;
	// font-weight : bold;
	margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.mic_bar scale trough {
	all: unset;
    box-shadow: 0 6px 5px 2px #06060b;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 20px 0px;
}

.audio_sep {
    color: #38384d;
    font-size: 18;
	margin : 0px 0px 0px 0px;
}
$background: hsl(316, 73%, 84%);
$widget-background: hsl(20, 36%, 85%);
$shadow:    rgba(00, 00, 00, 0.4);
$grey:      #606060;

$black:     #282A36;
$red:       #F37F97;
$green:     #5ADECD;
$orange:    #F2A272;
$blue:      #8897F4;
$purple:    #C574DD;
$teal:      #79E6F3;
$white:     #FDFDFD;

.leftside{
    background-color: rgba(00, 00, 00, 0.3);
    border-width: 0px;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 30px 0px 30px;
}

.music-player {
	all: unset;
  background-color: $widget-background;
	padding: 0px 25px 0px 17px;
	border-radius: 12px;
  box-shadow: 0px 0px 6px 6px rgba(00, 00, 00, 0.4);
}
.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	margin: 2rem 1rem 1.5rem 1rem;
	padding: 4rem;
}

.song {
	// font-weight: bold;
	color: hsl(222, 74%, 74%);
	font-size : 1.2em;
}
.artist {
	font-style: italic;
	font-size: 1.1em;
	color: $blue;
	margin-top: -5px;
}
.btn_prev, .btn_play, .btn_next {
  color: $purple;
  font-size: 25px;
}


.stats-box {
    all: unset;
    background-color: $widget-background;
    padding: 20px 25px 20px 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 6px $shadow;}

.stats-icon {
    font-size: 23px;
    color: $blue;
}


scale trough {
  all: unset;
  background-color: $widget-background;
  box-shadow: 0 2px 3px 2px $shadow;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 5px 0px 10px;
}

.scale highlight {
    background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 100% *50);
    border-radius: 15px;
}

.metric-player  scale trough highlight {
	all: unset;
	border-radius: 10px;
	background-color: $blue;
}

.buttons {
    opacity: 1;
    background-color: $widget-background;
    border-radius: 12px;
    padding: 15px 0px 15px 0px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 6px $shadow;
}

.poweroff, .reboot, .hibernate, .exit, .restart, .suspend{
  margin: 0px 16px 0px 16px;
  padding: 2px 15px 2px 9px;
  border-radius: 25px;
  font-size: 24px;
  color: $black;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.poweroff {
  background-color: $red;
}
.reboot {
  background-color: $green;
}
.hibernate {
  background-color: $orange;
}
.exit {
  background-color: $purple;
}
.restart {
  background-color: $blue;
}
.suspend {
	background-color: rgb(180,190,254);
}

.fetch {
    margin-top: 35px;
    font-size: 15px;
    border-radius: 12px;
    background-color: $widget-background;
    padding: 30px 55px 30px 55px;
    box-shadow: 0px 0px 6px 6px $shadow;}

.wm {
  // font-weight: bold;
  color: $red;
}

.host {
  // font-weight: bold;
  color: $purple;
}

.uptime {
  // font-weight: bold;
  color: $orange;
}

.packages {
  // font-weight: bold;
  color: $blue;
}

.kernal {
  // font-weight: bold;
  color: $green;
}
.date {
    all: unset;
    background-color: $widget-background;
    padding: 33px 27px 27px 27px;
    border-radius: 12px;
    color: $blue;
	font-size : 18px;
	font-style : italic;
	// font-family: Cartograph CF;
    box-shadow: 0px 0px 6px 6px $shadow;}
.weather {
    all: unset;
    background-color: $widget-background;
    border-radius: 12px;
    padding: 23px 37px 20px 37px;
    box-shadow: 0px 0px 6px 6px $shadow;}

.iconweather {
	font-size : 44px;
	font-weight : normal;
	margin : 0px -5px  0px 20px;
}

.label_temp {
	color : $blue;
	font-size : 35px;
	// font-weight : bold;
	margin : 0px 0px 0px 0px;
  // font-family: Furamono Nerd Font;

}

.label_stat {
	color : $blue;
	font-size : 38px;
	// font-weight : bold;
}

.label_quote {
	color : $blue;
	font-size : 18px;
  padding-bottom: 10px;
	font-weight : normal;
}
/** tooltip!! **/

tooltip.background {
    background-color: rgba(00, 00, 00, 0.5);
    font-size: 18;
    border-radius: 10px;
    color: $white;
}
tooltip * {
     padding: 4px;
     background-color: transparent;
     color: white; 
}
.host tooltip {
    background-color: rgba(255, 00, 00, 0.5);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
